.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* background-color: black; */
}
.sub-app {
  text-align: center;
  height: auto;
  display: flex;
  justify-content: center;
}
.left {
  width: 16%;
}
.right {
  width: 84%;
}


.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.6rem;
}
.flexCenterRow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.top-padding {
  padding: 0 25px;
}

@media screen and (max-width: 480px) {
  .right {
    width: 100%;
  }
  .left {
    width: 0;
  }
  thead {
    top: 0px;
  }
  .table-cont {
    padding: 0;
  }
  .table-div .table-lg {
    display: none;
  }
  .table-div {
    border-radius: 4px;
    padding: 0 0 20px 5px;
  }
  .table-div .table-sm {
    background-color: white;
    display: block;
  }
  .table-div {
    margin: auto;
  }
  th,
  td {
    width: 30%;
    padding: 4px;
    font-size: 12px;
    border: none !important;
  }

  th {
    font-size: 14px;
  }
  .del-btn,
  .edit-btn {
    letter-spacing: 1px;
    padding: 2px 7px;
    font-size: 12px;
  }
  .top .create-btn {
    letter-spacing: 1px;
    font-weight: 100;
    padding: 6px 9px;
  }
  .pop-main {
    height: 170vh;
  }
  .pop-div {
    top: 100vh;
    width: 50vw;
    right: 100px;
  }
}
